@charset "UTF-8";
/*
* Name: Nguyễn Đình Lam
* ID student: 21130416
* Class: DH21DTC
* Phone number: 0855354919
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#board_game {
  border: 1px solid black;
  background-color: white;
}

.main-menu {
  transition: 500ms;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu ul {
  list-style: none;
  height: 0;
  overflow-y: hidden;
  transition: 500ms;
}
.menu-item {
  margin-top: 30px;
}

.button {
  cursor: pointer;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border-radius: 8px;
  color: #FFFFFF;
  padding: 3px;
  width: 250px;
  position: relative;
  box-shadow: 5px 5px 5px 2px rgba(91, 66, 243, 0.3);
  transition: 500ms;
}
.button .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button:hover {
  transform: translateY(-10px) scale(1.1);
}
.button:hover .title {
  background: none;
}

.drop-down:hover ul {
  padding-top: 15px;
  padding-bottom: 5px;
  height: 250px;
}
.drop-down:hover .icon {
  transform: rotate(360deg);
}
.drop-down:hover .button {
  transform: translateY(-10px) scale(1.1);
}
.drop-down:hover .title {
  background: none;
}
.drop-down ul {
  background: #03d7fc;
  margin-top: -10px;
  border-radius: 0 0 10px 10px;
  padding-inline: 0;
}
.drop-down li {
  margin-top: 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.drop-down li:hover {
  background-color: #FFFFFF;
}
.drop-down .icon {
  transform: rotate(180deg);
  transition: 500ms;
}

main {
  transform: translateX(-110%);
  transition: 500ms;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  align-items: center;
}
main #board_game {
  z-index: 2;
}
main .right-menu {
  transform: translateX(-130%);
  transition: 500ms;
  z-index: 1;
}

.display-score {
  cursor: text;
  height: 150px;
  margin-bottom: 20px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-score .score {
  font-size: 35px;
  color: white;
  transition: 250ms;
}

.display-score.display-level {
  height: 50px;
  font-size: 35px;
  color: white;
  transition: 250ms;
}

.background-hidden {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-count-down {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.text-count-down {
  transition: 500ms;
  color: #3be2ff;
  font-size: 100px;
  display: block;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0);
}

#introduce {
  transform: translateY(0);
  font-size: 30px;
  color: #FFFFFF;
  padding-inline: 10%;
  text-align: justify;
}
#introduce .container {
  background-color: #281140;
  border-radius: 50px;
  padding: 20px;
}
#introduce h1,
#introduce h3 {
  text-align: center;
}
#introduce .list-item .item {
  display: flex;
  gap: 10px;
  align-items: center;
}

canvas, #board_game {
  border-radius: 15px;
}

/*# sourceMappingURL=index.css.map */
